<div class="">
    <h3 class="h4"><%= @agency.name %></h3>

    <button class="btn btn-secondary text-uppercase">Contact </button>
    <button class="btn btn-primary text-uppercase ">Email</button>
</div>