<h1 class="h3">Ajouter une nouvelle annonce</h1>

<%= render "form", property: @property %>

<br>

<div>
  <%= link_to "Back to properties", properties_path, class: "btn btn-lg btn-block btn-primary" %>
</div>
