<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
        <div class="property border mb-3">
        <style>
            .property-thumb{
              height: 170px;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;
            }
        </style>
      <h1 class="h1 text-center"> Trouver votre nouveau logement </h1>
      <p class="text-center">Cliquer sur un image pour selection votre logement</p>
      <%= link_to "Connecter vous à votre compte d'agence", new_agency_session_path, class: "btn btn-primary mr-2 mb-4 float-sm-right" %>
      <%= link_to "Inscriver votre agence", new_agency_registration_path, class: "btn btn-primary float-sm-right mb-4" %>

  </div>

  <section id="latest-properties" class="mb-5">
    <div class="container">
      <div class="row">
    <%= render "properties/list", properties: @properties %>
      </div>
    </div>
  </section>


  </div> <!-- /container -->

</main>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <%= render "layouts/footer"%>