<%#footer class="container">
    <p>© DreamDwellings 2023</p>
</footer%>
<br/>
<footer class="py-5 bg-primary">
 <div class="container">
  <p class="m-0 text-center text-white">Copyright © DreamDwellings 2023</p>
 </div>
</footer>